# --- Top-Level Core Frameworks ---
langchain==0.3.23
langgraph==0.3.31

# --- Integrations & Providers ---
langchain-community==0.3.21
langchain-google-genai==2.1.2
langchain-groq==0.3.2
langchain-openai==0.3.13
google-genai==1.75.0
groq==0.37.1
openai==1.109.1
tavily-python==0.7.24

# --- Utilities & Tools ---
python-dotenv==1.1.0
pydantic==2.11.3
pydantic-settings==2.8.1
SQLAlchemy==2.0.49